[submodule "external/ZetaStitcher"]
	path = external/ZetaStitcher
	url = https://github.com/lens-biophotonics/ZetaStitcher
[submodule "external/biolabtools"]
	path = external/biolabtools
	url = https://github.com/lens-biophotonics/biolabtools
[submodule "external/nitorch"]
	path = external/nitorch
	url = https://github.com/balbasty/nitorch
	branch = refactor-registration-preproc
[submodule "external/metrics"]
	path = external/metrics
	url = https://github.com/balbasty/metrics
[submodule "external/exvivoMRI_preproc"]
	path = external/exvivoMRI_preproc
	url = https://github.com/dvya/exvivoMRI_preproc
